
<div class="container">

<hr>
  <center> <h4 class="user_name"> Welcome <span class="bold-black"><%= current_user.email %></span>!</h4></center>
  <center> <h4 class="total_points"> You've earned <span class="bold-black" id="title_total_points"><%= current_user.total_points %></span> points! </h4></center>
<hr>

<div class="well">
<h3> How this works: </h3>

<p>Kliink provides value to non­profit organizations by promoting them. Spreading

the word through trusted sources often results in more donations than direct marketing alone.

Creating buzz can be more powerful than donations. The more you spread the word, the more

“philanthropist” points you accumulate! </p>

</div>

<hr>

<div class="row">
  <div class="col-md-3">
    <p><img src="/assets/sukrupa_small.jpg" style="height:250px;"></img></p>
  </div>

  <div class="col-md-9 description">
    <div class="description">
      <h1><%= @project.name %></h1>
       <%= @project.description %>
    </div>
    <div class="interactions">
       <span class="like_button">
         <%= image_tag "heart-points-unselected2.jpg", width:200,  alt: "Like", class: "like" %>
       </span>
       <span class="comment_button">
         <%= image_tag "comment-points2.jpg", width:200,  alt: "Comment", class: "comment" %>
       </span>
       <span class="share_button">
        <%= image_tag "share-points2.jpg", width:200, alt: "Share", class: "share" %>
       </span>
    </div>
    <br>
      <%= image_tag "goals.png" %> 
    
</div>

    </div>
  </div>
</div>

<hr>
</div>
<div class="container">

  <h3>Project Activity</h3>
  <div class="row" id="project">

    <ul class="list-group">
     
    <% @project.project_items.each do |item| %>

    <div class="project_item">

       <div class="content center">
         <li class="list-group-item">
         <%=item.content %>

        </li>
        <li class="list-group-item">
         <div class="interactions">
           <span class="like_button", onclick="alert('Thank you for liking this project activity!');">
             <%= image_tag "heart-points-unselected2.jpg", width:100,  alt: "Like", class: "like" %> 
           </span>
           <span class="share_button", onclick="alert('Thank you for sharing this project activity!');">
             <%= image_tag "share-points2.jpg", width:100, alt: "Share", class: "share" %>
           </span>
         </div>

       </div>
        </li>

      <li class="list-group-item">
       <%= form_for :project_item_comment do |f| %>
        Comment on this project piece: <%= f.text_field :content, style: 'width: 60%;' %><br />
        <%= f.hidden_field :project_item_id, :value => item.id%>
        <%= f.hidden_field :user_id, :value => current_user.id%>
        <%= f.submit 'submit', :class => 'btn btn-primary' %>
      
    <% end %>
  </li>
  <li class="list-group-item">
       <% item.project_item_comments.each do |comment| %>
         <% author = User.find(comment.user_id) %>
          <div class="show_comment">
            <%= comment.content %>
          </div>
          <div class="author">
            - <%= author.email %> <%= author.last_name %>
          </div>

       <% end %>
      </li>
    </div>

    <% end %>

    </div>
  </div>
</div>

<div class="container">
<h3> How Your Donations Make a Difference </h3>
<ul class="list-group row">
  <li class="list-group-item col-xs-6">
  <div class="radio">
  <label><input type="radio" name="optradio">$5</label>
  </div>
</li><li class="list-group-item col-xs-6">
  <div class="radio">
  <label><input type="radio" name="optradio">$10</label>
  </div>
</li>
<li class="list-group-item col-xs-6">
  <div class="radio">
  <label><input type="radio" name="optradio">$25</label>
  </div>
</li>
<li class="list-group-item col-xs-6">
  <div class="radio">
  <label><input type="radio" name="optradio">$50</label>
  </div>
</li>
<li class="list-group-item col-xs-6">
  <div class="radio">
  <label><input type="radio" name="optradio">$100</label>
  </div>
</li>
<li class="list-group-item col-xs-6">
  <div class="radio">
  <label><input type="radio" name="optradio">$250</label>
  </div>
</li>
<li class="list-group-item col-xs-6">
  <div class="radio">
  <label><input type="radio" name="optradio">$500</label>
  </div>
</li>
<li class="list-group-item col-xs-6">
  <div class="radio">
  <label><input type="radio" name="optradio">Other</label>
  </div>
</li>
</ul>
<button type="button" onclick="alert('Thank you for donating!')" class="btn btn-success");>Donate</button>
</div>
<footer>
  <br>
  <br>
</footer>


