<%= simple_form_for(@project_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
 
  
    <%= f.label :content %>
    <%= f.text_field :content, class: "form-control" %>
 

    <%= f.label :url %>
    <%= f.text_field :url, class: "form-control" %>
 

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
