<p id="notice"><%= notice %></p>

<h1>Listing Project Items</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_items.each do |project_item| %>

    <tr>
      <%= project_item.title %> <br>
      <%= project_item.content %><br>
      <%= image_tag(project_item.url, class: 'project_item') %>
        <td><%= link_to 'Show', project_item %></td>
        <td><%= link_to 'Edit', edit_project_item_path(project_item) %></td>
        <td><%= link_to 'Destroy', project_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project item', new_project_item_path %>
