<!DOCTYPE html>
<html>
<head>
  <title>Kliink</title>

  <% if current_user != nil %>
  <script>
    var current_user = <%=current_user.id %>;
  </script>
  <% end %>

  <% if @project != nil %>
  <script>
    var project_id = <%=@project.id %>;
  </script>
  <% end %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<!-- Navigation for all pages -->
    <nav id="myNavbar" class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <a class="navbar-brand" href="/"><img src="/assets/kliink.png" style="height:80px;"</a>

            </div>

                <ul class="nav navbar-nav navbar-right" id="nav">
                    <% if !user_signed_in? %>
                    <li><%= link_to 'Log in', new_user_session_path %></li>
                  
                    <li><%= link_to 'Sign up', new_user_registration_path %></li>
                    <% end  %>
                    <% if user_signed_in? %>
                    <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
                     <% end  %>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
<div class="container">
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
</div>

<%= yield %>

</body>
</html>
